<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Google SignIn</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% load socialaccount %}
        <h3>Google Login</h3>
        <a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>
        
        {% if user.is_authenticated %}
            <p>You are now signed in as {{user.email}}</p>
            <a href="logout">Logout</a>
        {% endif %}
        <script src="" async defer></script>
    </body>
</html>